
.container{
    margin: 0 150px;
}

.header{
    margin-top: 20px;
}

.sampleimg{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 3px;
}

.description{
    display: flex;
}

.book{
    margin: 20px 0 0 0px;
    border: 2px solid rgb(219, 202, 202);
    width: 270px;
    height: 375px;
}
.book img{
    margin: 20px 30px;
}

.options{
    display: flex;
    margin-top: 20px;
}

#bag{
    background-color: brown;
    color: #fff;
    width: 135px;
    height: 30px;
    margin-right: 10px;
    border: none;
}

.quantity{
    font-size: 20px;
    margin-right: 2px;
}

.quantity button{
    height: 35px;
    width: 35px;
    border-radius: 70%;
    background-color: #fff;
    border: 1px solid silver;
    font-size: 20px;
}

.quantity input{
    width: 50px;
    height: 35px;
    margin:  0 10px;
    text-align: center;
    border: 1px solid silver;
}

#wishlist{
    background-color: black;
    color: #fff;
    width: 135px;
    height: 32px;
    border: none;
    padding-left: 35px;
}

.wishlistIcon{
    position: absolute;
    margin-left: 17px;
    margin-top: 3px;
    color: #fff;
}

.book_info{
    margin: 20px 0 0 50px;
    width: 800px;
}

.book_data{
    margin: 0px 15px;
}

.rating{
    width: 53px;
    height: 25px;
    background-color: green;
    color: #fff;
    margin-bottom: 15px;
    display: flex;
    padding-left: 10px;
    text-align: center;
}

.rating .p1{
    color: rgb(187, 187, 183);
    margin-left: 10px;
    font-size: 17px;
}

.p2{
    font-size: 18px;
    margin-top: 4px;
}

.star{
    margin-top: 0px;
    margin-left: 3px;
    /* height: 5px; */
}

.cost{
    display: flex;
}

.cost b{
    font-size: 25px;
}

.cost s{
    font-size: 12px;
    margin-left: 10px;
    color: rgb(187, 187, 183);
}

ul{
    margin-left: -25px;
    color: rgb(187, 187, 183);
}

.book_detail{
    color: rgb(122, 122, 118);
}

.customerfeedback{
    font-size: 17px;
    color: black;
}

.review_box{
    padding: 10px 20px;
    background-color: rgb(248, 246, 246);
    height: auto;
}

/* star */

.starContainer{
    width: 250px;
    border: 1px soild #444;
    display: flex;
}

.starContainer .star-widget input{
    display: none;
}

.star-widget label{
    font-size: 15px;
    color: #444;
    padding: 0 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}

input:checked ~ label{
    color: #fd4;
}

input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

.textarea{
    margin: 20px 0;
}

.textarea textarea{
    height: 50px;
    width: 100%;
    border: none;
}

.btn{
    float: right;
}

.btn button{
    width: 100px;
    height: 30px;
    background-color: #3371B5;
    border: none;
    color: rgb(236, 232, 232);
    font-size: 15px;
}

.feedback{
    margin: 10px 0;
}